body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#ffe169, #ffc300);
    color: #fb5607;
}

#title {
    text-shadow: 5px 5px 5px #ff006e;
    font-size: 40px;
}

h1, h2, h3, h4, p {
    color: white;
    text-shadow: 5px 5px 5px #f20089;
}

#newyear-img {
    width: 250px;
    border-radius: 30%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#name {
    background: #ffcad4;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 5px 0 10px 0;
}

#date {
    margin: 0;
    background: #ffcad4;
    padding: 5px 10px;
    border-radius: 50px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}


.gift-img {
    margin: 20px auto;
    max-width: 300px;
    height: 300px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/2023.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#gift-img-health:hover {
    background-image: url("https://media.giphy.com/media/hoxJHQLz31zCEdA0Bw/giphy.gif");
}

#gift-img-joy:hover {
    background-image: url("https://media.giphy.com/media/3NtY188QaxDdC/giphy.gif");
}

#gift-img-success:hover {
    background-image: url("https://media.giphy.com/media/Q81NcsY6YxK7jxnr4v/giphy.gif");
}

#cat-img {
    width: 250px;
    border-radius: 40%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}


#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/